#mac os files
.DS_Store

.vscode

node_modules

#Becasue this is a typescript project I will not inclued the copiled js files.
notGood

*.js
*.d.ts
erro.txt

#test files for me
./dataFetcher/testing*
dataFetcher/testing.ts
